@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/images/urlFavicon.ico" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-expand-md pt-3 pr-0">
            <a class="navbar-brand mt-0 mb-2 ml-2 font-weight-bold px-4" asp-controller="url" asp-action="index" style="font-size:26px; white-space:normal; border-radius:0.6em; border-width:6px; border-style:solid;">URL Titan<br /><h5 class="text-light text-center" style="font-size:15px; opacity:0.7">URL Utility</h5></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-5" style="font-size: 21px">
                    <li class="nav-item active ml-4" id="Home">
                        <a class="nav-link" asp-controller="url" asp-action="index"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item ml-4" id="LinkTracking">
                        <a class="nav-link" asp-controller="url" asp-action="linktracking"><i class="fa fa-globe"></i> Link Tracking <span class="badge badge-danger" style="font-weight:normal; opacity:0.9">Coming Soon!</span></a>
                    </li>
                    <li class="nav-item ml-4" id="ContactMe">
                        <a class="nav-link" asp-controller="url" asp-action="contactme"><i class="fa fa-address-book"></i> Contact Me</a>
                    </li>
                    <li class="nav-item ml-4" id="About">
                        <a class="nav-link" asp-controller="url" asp-action="about"><i class="fa fa-info-circle"></i> About</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="https://github.com/nathanjukes">
                <img src="~/images/githubLogo.png" style="width:60px;height:60px" class="embed-responsive-21by9">
            </a>
        </nav>
    </header>

    <main>

        @RenderBody()

        <!--Star on Github badge - Floats at the bottom of every page-->
        <div class="text-center mt-4 pb-3" style="clear:both">
            <a href="https://GitHub.com/nathanjukes/URL-Titan/stargazers"><img style="width:86px; height:22px" src="https://img.shields.io/github/stars/nathanjukes/URL-Titan?style=social&label=Star&maxAge=2592000" /></a>
            <a class="ml-2" asp-controller="api" asp-action="index" style="text-decoration:underline"> URL-Titan API!</a>
        </div>

    </main>

    <footer class="footer mt-4">
        <text class="float-left">© @DateTime.Now.Year NathanJukes</text>
    </footer>
</body>
</html>
