@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "URL Titan: About";
}

<head>
    <script src="~/js/SetActiveNavLink.js"></script>
</head>

<script>SetActiveNav("About")</script> <!--Calls the js script to set the active nav list item-->

<h2 class="card-text p-3 text-light text-center"><br />About URL Titan:</h2>

<div class="container">
    <div class="col-md-12 text-center">
        <div class=" bg-secondary pb-3 col-md-12" style="border-radius:0.5em">
            <div class="container-sm text-center mt-3">
                <div class="text-body">
                    <p style="font-size:20px">
                        <br />URL Titan is a URL utility that offers features that other URL shorteners do not. It is also completely free and open source, view the project <a href="https://github.com/nathanjukes/URL-Shortener">here.</a> Feel free to discuss the project and possibly even add to it by using GitHub's pull request feature! <br /><br /> If you spot a bug or would like to raise an issue with the site, please do so on the <a href="https://github.com/nathanjukes/URL-Shortener/issues">issues tab</a> of the Github repository or email me <a href="mailto:njukesuniversity@gmail.com">here!</a>
                    </p>
                    <a class="navbar-brand mt-3" href="https://github.com/nathanjukes/URL-Shortener">
                        <img src="~/images/githubLogo.png" style="width:55px;height:55px" class="embed-responsive-21by9">
                    </a>
                    <p class="mt-2" style="font-size:15px; opacity:0.8">Please Note: URL-Titan stores your IP Address to provide your URL Stats, but the IP will never be shared!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="card-text p-3 text-light text-center"><br />FAQ:</h3>

<div class="container mb-5">
    <div class="col-md-12 text-center">
        <div id="accordion">
            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#urlShortenerA" aria-expanded="true" aria-controls="collapseOne">
                            What is a URL Shortener?
                        </button>
                    </h5>
                </div>
                <div id="urlShortenerA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        A URL shortener is a way of condensing a long and obtrusive URL into a small, easy to share URL. It replaces long, ugly URLs with a small and neat URL that is memorable and easily recognisable. Having a shortened URL is important as it allows for a much greater ease of access, meaning that more people will share and click it than ever before.
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#linkTrackA" aria-expanded="true" aria-controls="collapseOne">
                            What is 'Link tracking'?
                        </button>
                    </h5>
                </div>
                <div id="linkTrackA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        The link tracking feature within URL Titan is an easy way to see who is using your URLs and where they are primarily being used from. It also offers a portfolio of your shortened URLs and allows you to see which are the most popular!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#alwaysFreeA" aria-expanded="true" aria-controls="collapseOne">
                            Is it free to shorten and track my URLs?
                        </button>
                    </h5>
                </div>
                <div id="alwaysFreeA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        URL-Titan is completely free and always will be, I created it when I wanted to track and shorten my URLs and I wanted to make the best possible version for everyone to use!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#deleteURLA" aria-expanded="true" aria-controls="collapseOne">
                            Can I delete my shortened URLs?
                        </button>
                    </h5>
                </div>
                <div id="deleteURLA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Yes! If you wish to remove your shortened URLs just hit 'Delete' in the list of your URLs!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#runOutA" aria-expanded="true" aria-controls="collapseOne">
                            When do my shortened URLs run out?
                        </button>
                    </h5>
                </div>
                <div id="runOutA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Never! URLs shortened with URL-Titan will work for as long as the site is active!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#howManyA" aria-expanded="true" aria-controls="collapseOne">
                            How many URLs can I shorten?
                        </button>
                    </h5>
                </div>
                <div id="howManyA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        As many as you would like! URL-Titan is free and unlimited!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#anyUrlA" aria-expanded="true" aria-controls="collapseOne">
                            Can I shorten any URL? Even very long ones?
                        </button>
                    </h5>
                </div>
                <div id="anyUrlA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Yes - Any valid URL is accepted and can be shortened into a neat URL-Titan URL!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#requestFeatureA" aria-expanded="true" aria-controls="collapseOne">
                            Can I request features?
                        </button>
                    </h5>
                </div>
                <div id="requestFeatureA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Of course 😁 - Any suggestions are welcome and I will do my best to implement them. To request, please email me <a href="mailto:njukesuniversity@gmail.com">here</a> or add an issue to the Github <a href="https://github.com/nathanjukes/URL-Shortener">page.</a>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#apiA" aria-expanded="true" aria-controls="collapseOne">
                            Do you have a public API available?
                        </button>
                    </h5>
                </div>
                <div id="apiA" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Yes we do! It's found <a asp-controller="api" asp-action="index">here</a> or at the bottom of any page!
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#api2A" aria-expanded="true" aria-controls="collapseOne">
                            Is there a limit on the API?
                        </button>
                    </h5>
                </div>
                <div id="api2A" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Nope, there is no limit. You may use the API freely as much as you like, but please be aware the entire project is hosted on a Raspberry Pi, so please be cautious with the amount of calls you make to ensure that I can keep running URL-Titan.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


