@using URL_Shortener.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EnterURLModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display URL";
}

<div class="container align-content-center mt-5">
    @if (Model.UrlData != null)
    {
        <!--Show all info relating to their url shorten in this scope-->
        <h3>Here is the shortened URL:  @(Model.HostName+Model.UrlData.ShortenedIdentifier) </h3>
    }
    <div class="container align-content-center mt-3">
        <div class="col-md-12 text-center">
            <h3 class="text-light pb-2" id="fullURLTable">Your Previous URL's</h3>
            <table class="table table-primary table-striped table-bordered table-hover table-sm">
                @if (Model.UserUrls.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th scope="col">Shortened URL</th>
                            <th scope="col">Full URL</th>
                            <th scope="col" style="width:25%; text-align:right"></th>
                        </tr>
                    </thead>
                    @foreach (URL url in Model.UserUrls.Reverse())
                    {
                        <tr>
                            <td>@(Model.HostName+url.ShortenedIdentifier)</td>
                            <td>@url.BaseURL</td>
                            <td><span><button class="btn btn-outline-primary">Delete</button></span></td>
                        </tr>
                    }
                }
                else
                {
                    <h4 class="pt-3 text-primary">⠀No URL's Shortened 😢</h4>
                }
            </table>
        </div>
    </div>
</div>
