@using URL_Shortener.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EnterURLModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display URL";
}

<h3>Here is the shortened URL:  @(Model.HostName+Model.UrlData.ShortenedIdentifier) </h3>

