@{
    Layout = "_Layout";
    ViewData["Title"] = "URL Shortener";
}

<h3 class="card-text p-3 text-light text-center"><br />An efficient, simple way to enhance your links and make them more clickable!</h3>

<div class="container align-content-center mt-5">
    <div class="col-md-12 text-center">
        <div class="form-group">
            <label for="form_message" class="text-light p-3">Please input your URL beneath:</label>
            <textarea id="form_message" name="message" class="form-control" placeholder="Your URL here" rows="4" required="required" style="resize:none"></textarea>
            <button type="button" class="btn btn-primary m-md-4">Get Shortened URL!</button>
        </div>
    </div>
    <br />
</div>

<div class="mt-5 bg-secondary">
    <div class="container-sm text-center mt-5 pt-lg-4">
        <div class="text-body">
            <h2 style="font-size:35px">
                What is a 'URL shortener'?
                <small class="text-muted text-black-50" style="font-size: 23px">- And why are they so important?</small>
            </h2>
            <p style="font-size:20px">
                <br />A URL shortener is a way of condensing a long and obtrusive URL into a small, easy to share URL. It replaces long, ugly URL's with a small and neat URL that is memorable and easily recognisable.
            </p>
        </div>
        <h2>
            Why use a URL shortener?
        </h2>
    </div>
</div>



