@using URL_Shortener.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model URL
@{
    Layout = "_Layout";
    ViewData["Title"] = "Test";
}

<h1>@Model.BaseURL sfdfi</h1>
@{
    foreach (var i in new List<string>() { "5", "523" })
    {
        <h1>@i</h1>
        <button style="color:cadetblue">Click me</button>
    }
}

@{int a = 10; }

@{
    int b = (a == 10) ? b = 15 : b = 5; //Ternary operator
    <h1>@b</h1>
}

<img src="~/images/testImg.jpg" alt="test" />

<input type="button" value="ad" class="btn-danger" />


<form asp-controller="URL" asp-action="UploadURL" method="post">
    Input URL: <input asp-for="BaseURL" />
    <input asp-for="Id" />
    <input asp-for="ShortenedIdentifier" />
    <button>Submit</button>
</form>


