@model URL_Shortener.Models.DocsModel
@{
    ViewData["Title"] = "URL Titan: API - ShortenCollection";
    Layout = "_Layout";
}


<div class="row">
    <div class="container mt-3 text-center">
        <h1 class="text-white pt-4">Shorten Collection Endpoint</h1>
        <label class="text-white-50 pb-3">Lets you POST a collection of URLs and get the shortened URLs returned</label>
    </div>
    <div class="col-lg-8">
        <div class="container mt-3 text-center float-left col-md-10 offset-2 table-responsive">
            <table class="table text-white mt-4 text-left">
                <tbody>
                    <tr>
                        <th class="text-primary">Description</th>
                        <td>Shortens a collection of URLs</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Endpoint</th>
                        <td>/Api/ShortenCollection</td>
                    </tr>
                    <tr>
                        <th class="text-primary">HTTP Method</th>
                        <td>POST</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Authorization</th>
                        <td>No authorization required</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Request Limit</th>
                        <td>∞</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <div class=" mt-4 pt-3 px-3 text-center">
            <h2 class="text-white">Example Request</h2>
            <div class="text-left" style="background-color:#1b1f22; border-radius:0.4em;">
                <label class="my-3 mx-4 px-3">
                    <code class="text-white" style="font-size:medium;">
                        POST @(Model.HostName)Api/ShortenCollection
                        <br /><br />
                        Required Body Parameters: <br />Your array of URLs as strings.
                    </code>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="container text-center text-white my-5 py-4" style="clear:both">
    <h2>Required Body Parameters</h2>
    <div class="mt-3" style="background-color:#1b1f22; border-radius:0.4em;">
        <label class="pt-3">
            An array of Valid URLs - No name is required for the array.
            <br /><label class="pt-2 text-muted">e.g. '[ "https://www.reddit.com/blue", "https://www.reddit.com/grey" ]'</label>
        </label>
    </div>

    <h2 class="mt-5 pt-3">Example Response</h2>
    <div class="mt-3" style="background-color:#1b1f22; border-radius:0.4em;">
        <label class="my-3 mx-4 px-3">
            <code class="text-white" style="font-size:medium;">
                [
                "@(Model.HostName)ebfeb",
                "@(Model.HostName)c8563"
                ]
            </code>
        </label>
    </div>
</div>

