@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-expand-md pt-3 pr-0">
            <a class="navbar-brand" asp-controller="url" asp-action="index" style="font-size:30px">Nathan Jukes URL Shortener</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mt-2" style="font-size: 20px">
                    <li class="nav-item active">
                        <a class="nav-link ml-4" asp-controller="url" asp-action="index">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" asp-controller="url" asp-action="about">About</a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" asp-controller="url" asp-action="contactme"> Contact Me</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="https://github.com/nathanjukes">
                <img src="~/images/kisspng-github-inc-repository-source-code-5b087b87b32369.7903480615272825677338.png" style="width:60px;height:60px">
            </a>
        </nav>
    </header>

    <main>

        @RenderBody()

    </main>

    <footer class="footer">
        <text>© @DateTime.Now.Year NathanJukes</text>
    </footer>
</body>
</html>
