@{
    Layout = "_Layout";
    ViewData["Title"] = "URL Titan: About";
}

<head>
    <script src="~/js/SetActiveNavLink.js"></script>
</head>

<script>SetActiveNav("About")</script> <!--Calls the js script to set the active nav list item-->

<h1>This is the about page</h1>

