
@{
    Layout = "_Layout";
    ViewData["Title"] = "URL Titan: Contact Me";
}

<head>
    <script src="~/js/SetActiveNavLink.js"></script>
</head>

<script>SetActiveNav("ContactMe")</script> <!--Calls the js script to set the active nav list item-->

<h1>ContactPage</h1>

