@{
    ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}

<head>
    <script src="~/js/SetActiveNavLink.js"></script>
</head>

<script>SetActiveNav("Privacy")</script> <!--Calls the js script to set the active nav list item-->

<h1>Privacy</h1>

<form asp-controller="url" asp-action="submitContactForm">

    <button type="submit">Click me</button>
</form>

